*{
	text-indent:0px;
	text-decoration: none;
	letter-spacing: 3px;
	line-height: 25px;
	font-family: 'Abel', sans-serif;
}
.container{
margin:0 auto;
text-align:center;
}
.section{
	position:relative;
	display:inline-block;

}
.col{
	float:left;
	position:relative;
	display:block;

}
.row{

}
h1,h2{
	font-size:30px;
	text-align:center;	
}
.row div{
	display:inline-block;
	text-align: left;
	left:0px;
	margin:0px;
	padding:0px;
	height:70px;
	width:70px;

	background:white;
	z-index:11;
}
div>span{
	cursor:pointer;
	position:absolute;
	padding-top:22px;
	padding-left:8px;
	height:48px;
	width:62px;
	border:none;

	z-index:1;
}
div>span:hover{
	cursor:pointer;
	position:absolute;
	padding-top:22px;
	padding-left:8px;
	height:48px;
	width:62px;
	border:none;

	background: #E5E5E5; /* For browsers that do not support gradients */

	animation-name: point;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
	z-index:1;
}

@keyframes point {
    0%   {opacity:0;filter:alpha(opacity=0)}
    50%  {opacity:1;filter:alpha(opacity=1)}
    100% {opacity:1;filter:alpha(opacity=1)}
}
.circle:before {
	margin-top:5px;
	color:grey;
  /*content: ' \25CB';*/
	content:' \1F785';
	font-size: 60px;
	animation-name: point;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.cross:before {
	color:grey;
	content: ' \2a2f';
	font-size: 60px;
	animation-name: point;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.shadow{
	 box-shadow: 76px 76px 0px 70px grey;
	 z-index:0;
}
.red{
	color:red;
}
.gray{
	color:gray;
}
.rbg{
	background:red;
}
.inl{
	display:inline;
}
.btn{
	cursor:pointer;
	display:block;
	padding:0px 10px 0px 10px;
	text-align:center;
	background:#4D4D4D;
	border:2px solid #BFBFBF;
	color:#BFBFBF;
}
.btn:hover{
	cursor:pointer;
	display:block;
	padding:0px 10px 0px 10px;
	text-align:center;
	background:#BFBFBF;
	border:2px solid #4D4D4D;
	color:#4D4D4D;
}

.wide-text-oborders{
	margin:5px;
}
